<div id="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <a class="title-link" [routerLink]="['/nl']">
          <h3 class="page-title"><i class="zmdi zmdi-cocktail"></i> &nbsp; Angular Nightlife</h3>
        </a>
      </div>
      <div class="col-sm text-right" *ngIf="activeRoute == '/nl'">
        <button class="btn btn-secondary btn-about">
          &nbsp; About &nbsp;
        </button>
      </div>
      <div class="col-sm text-right" *ngIf="activeRoute == '/nl/search'">
        <form class="form-inline searchbox" #form="ngForm" (submit)="search(form.value)">
          <label class="sr-only col-form-label" 
            for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mt-3 w-100">
            <input type="text" class="form-control" name="location"  ngModel
              id="inlineFormInputGroup" [placeholder]="_yelp.searchTerm">
            <div class="input-group-addon" (click)="search(form.value)">Search</div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- / container-fluid -->

  <router-outlet></router-outlet>

</div>
  <!--Debugging -->
<div class="container-fluid" style="background: #FFFFFF;">
  <div class="row">
    <div class="col-sm">
      <b style="color: darkgreen">Debugging: </b>
      &nbsp; &nbsp; - &nbsp; &nbsp;
      <b>route: </b> {{activeRoute}}

      <b>searchTerm: </b> {{_yelp.searchTerm}}

      &nbsp; &nbsp; - &nbsp; &nbsp;

      <a [routerLink]="['/nl/']">/ root</a>,
      <a [routerLink]="['/nl/search']">/search</a>,
      <a [routerLink]="['/nl/demo']">/demo</a>,

      &nbsp; &nbsp; - &nbsp; &nbsp;
      <button (click)="openAuthWindow('google')" class="btn btn-secondary btn-sm">
        Google
      </button>
    </div>
  </div>
</div>

<footer class="text-center">
  <!-- https://www.flickr.com/photos/lennykphotography/17390996656/ -->
  <p class="credit">Photo:
    <a class="credit" href="http://www.lennykphotography.com/">Lenny K.</a>
  </p>
  <p>FreeCodeCamp &nbsp; | &nbsp; <i class="zmdi zmdi-github-alt"></i> &nbsp; <a href="https://github.com/cjsheets">Chad Sheets</a></p>
</footer>
