<div class="container-fluid">

  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/nl']">
        <h3 class="page-title"><i class="zmdi zmdi-cocktail"></i> &nbsp; Angular Nightlife</h3>
      </a>
    </div>
    <div class="col-sm text-right" *ngIf="activeRoute == '/nl'">
      <button class="btn btn-secondary btn-about">
        &nbsp; About &nbsp;
      </button>
    </div>
    <div class="col-sm text-right" *ngIf="activeRoute == '/nl/search'">
      {{activeRoute}}
    </div>
  </div>
  
</div>

<router-outlet></router-outlet>

  <!--Debugging 
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <hr>
      <b style="color: darkgreen">Debugging: </b>
      &nbsp; &nbsp; - &nbsp; &nbsp;
      <b>Login: </b>

      <b>Anon: </b>

      &nbsp; &nbsp; - &nbsp; &nbsp;

      <a [routerLink]="['/nl/']">/ root</a>,
      <a [routerLink]="['/nl/search']">/search</a>,
      <a [routerLink]="['/nl/demo']">/demo</a>,

      &nbsp; &nbsp; - &nbsp; &nbsp;
    </div>
  </div>
</div>-->

<footer>
  <div class="row">
    <div class="col-sm text-center">
      <!-- https://www.flickr.com/photos/lennykphotography/17390996656/ -->
      <p class="credit">Photo:
        <a class="credit" href="http://www.lennykphotography.com/">Lenny K.</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <p>FreeCodeCamp &nbsp; | &nbsp; <i class="zmdi zmdi-github-alt"></i> &nbsp; <a href="https://github.com/cjsheets">Chad Sheets</a></p>
    </div>
  </div>
</footer>
